<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="PathfinderUnitedTheraEntities" connectionString="metadata=res://*/PathFinderUnitedTheraModel.csdl|res://*/PathFinderUnitedTheraModel.ssdl|res://*/PathFinderUnitedTheraModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=TESTINGDB1\TADEVSQL08;Initial Catalog=PF_UnitedThera;Integrated Security=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>
