<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="PF_DeyEntities" connectionString="metadata=res://*/PathfinderDeyModel.csdl|res://*/PathfinderDeyModel.ssdl|res://*/PathfinderDeyModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=TESTINGDB1\TADEVSQL08;Initial Catalog=PF_Dey;Integrated Security=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
    <add name="PathfinderDeyEntities" connectionString="metadata=res://*/PathfinderDeyModel.csdl|res://*/PathfinderDeyModel.ssdl|res://*/PathfinderDeyModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=TESTINGDB1\TADEVSQL08;Initial Catalog=PF_Dey;Integrated Security=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>