<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings><add name="PathfinderEntities" connectionString="metadata=res://*/PathfinderModel.csdl|res://*/PathfinderModel.ssdl|res://*/PathfinderModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=TESTINGDB1\TADEVSQL08;Initial Catalog=PF;Integrated Security=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" /></connectionStrings>
</configuration>