<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="PathfinderSandozEntities" connectionString="metadata=res://*/PathFinderSandozModel.csdl|res://*/PathFinderSandozModel.ssdl|res://*/PathFinderSandozModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=TESTINGDB1\TADEVSQL08;Initial Catalog=PF_Sandoz;Integrated Security=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>
