<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="PathfinderCSLEntities" connectionString="metadata=res://*/PathfinderCSLModel.csdl|res://*/PathfinderCSLModel.ssdl|res://*/PathfinderCSLModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=TESTINGDB1\TADEVSQL08;Initial Catalog=PF_CSL;Integrated Security=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>