<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="PathfinderReckittEntities" connectionString="metadata=res://*/PathFinderReckittModel.csdl|res://*/PathFinderReckittModel.ssdl|res://*/PathFinderReckittModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=TESTINGDB1\TADEVSQL08;Initial Catalog=PF_Reckitt;Integrated Security=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />		
	</connectionStrings>
</configuration>