<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="PPRXEntities" connectionString="metadata=res://*/PowerPlanRxEntityModel.csdl|res://*/PowerPlanRxEntityModel.ssdl|res://*/PowerPlanRxEntityModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=TESTINGDB1\UCB;Initial Catalog=PPRX;Integrated Security=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>