<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="PathfinderAlconEntities" connectionString="metadata=res://*/PathfinderAlconModel.csdl|res://*/PathfinderAlconModel.ssdl|res://*/PathfinderAlconModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=TESTINGDB1\TADEVSQL08;Initial Catalog=PF_Alcon;Integrated Security=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>