<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="PathfinderGenzymeEntities" connectionString="metadata=res://*/PathfinderGenzymeModel.csdl|res://*/PathfinderGenzymeModel.ssdl|res://*/PathfinderGenzymeModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=TESTINGDB1\TADEVSQL08;Initial Catalog=PF_Genzyme;Integrated Security=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient"/>
  </connectionStrings>
</configuration>