<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>    
    <add name="PathfinderClientEntities" connectionString="metadata=res://*/PathfinderClientModel.csdl|res://*/PathfinderClientModel.ssdl|res://*/PathfinderClientModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=TESTINGDB1\TADEVSQL08;Initial Catalog=PF_Pinso;Persist Security Info=True;User ID=pfadmin;Password=ZekeTest;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />    
  </connectionStrings>
</configuration>